<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/stylesheets/err.css">
    <link rel="icon" href="../static/favicon/favicon.svg">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
    <h1 class="error-code">{% block errcode %} {% endblock %}</h1>
    </header>
    <div class="error-container">
        <div class="error-message">{% block prettymsg %} {% endblock %}</div>
        <a href="/">Back Home</a>
        <div class="technical-message">{% block techmsg %} {% endblock %}</div>
    </div>
</body>
</html>
