<!Doctype html>
<html>
    <head>
        <title>Sample</title>
    </head>
    <body>
        <main>
            <h1>Lorem Ipsum</h1>
            <h2>Introduction</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae augue sit amet nunc fermentum aliquet.
            Body</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer vel nisl vitae urna convallis tincidunt. Curabitur euismod, justo non pulvinar facilisis, orci sapien interdum arcu, non aliquet lorem sapien non neque.</p>

            <h2>Conclusion</h2>
            <p>Donec quis sapien sed arcu aliquet gravida. Vivamus vitae nisl id justo feugiat aliquet.</p>
        </main>
    </body>
</html>
